
body {
  font-family: Josefin Sans;
  background: url("https://www.dropbox.com/s/5t4xaf98yfwhdys/fog-foggy-forest-4827.jpg?raw=1");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.noto {
 font-family: Noto Sans;
}

ul.options {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
  position: absolute;
}

ul.options a {
  background: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 0px -10px;
  padding: 10px;
  font-size: 1.2rem;
  color:rgb(88, 88, 88);
  width: 33.333%;
  border-radius: 2px;
}

ul.options a:hover {
  font-weight: bold;
  color: #00b4cc;
  cursor: pointer;

}

ul.options a:visited {
  font-weight: bold;
  color:rgb(88, 88, 88);
  cursor: pointer;

}

ul.options a.option-active {
  background: whitesmoke;
  font-size: 1.5rem;
  color: #00b4cc;
}

.no-options {
  color: white;
}

.tab-list-active {
  color: black;
}

